html, body, ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
// body {
//     overflow: hidden;
// }
ul, li {
    list-style: none;
}
img {
    border: none;
}
// html, body {
//     font-size: 62.5%;
// }
a {
    text-decoration: none;
}


.clearfix:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    visibility:hidden;
}
