{{define "header"}}
<link rel="stylesheet" type="text/css" href="/vendor/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/css/common/header.css">
<header id="header">
    <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
    <div class="header-title">
        <a href="javscript:;">更多信息</a>
    </div>
    <div class="header-right-block">
        <a href="javascript:;">
            <img src="/images/common/avatar.jpeg" class="header-right-img">
        </a>
    </div>
</header>
<script type="text/javascript" src="/javascript/common/header.js"></script>
{{end}}
