{{define "sidebar"}}
<link rel="stylesheet" type="text/css" href="/css/common/sidebar.css">
<nav id="sidebar">
    <div class="sidebar-profile">
        <a href="javascript:;">
            <img src="/images/common/avatar.jpeg" class="sidebar-profile-picture">
        </a>
        <h4>Virgil /\/</h4>
        <h5>寻找一个有意义的标题</h5>
    </div>
    <ul class="sidebar-buttons clearfix">
        <li>
            <a href="/">
                <i class="sidebar-button-icon fa fa-lg fa-home"></i>
                <span>主页</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="sidebar-button-icon fa fa-lg fa-tags"></i>
                <span>标签</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="sidebar-button-icon fa fa-lg fa-question"></i>
                <span>帮助</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="sidebar-button-icon fa fa-lg fa-github"></i>
                <span>GitHub</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="sidebar-button-icon fa fa-lg fa-stack-overflow"></i>
                <span>Stack Overflow</span>
            </a>
        </li>
    </ul>
</nav>
<script type="text/javascript" src="/javascript/common/sidebar.js"></script>
{{end}}