{{define "article"}}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/article.css">
    <script type="text/javascript" src="/vendor/jQuery/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div id="main-wrap">
        {{template "header"}}
        {{template "sidebar"}}
        <div id="main">
            <section id="main-content">
                <div class="article">
                    <article class="article-detail">
                        <div class="article-wrap">
                            <img src={{.BannerUrl}} class="banner-img">
                            <h1 class="title">{{.Title}}</h1>
                            <div class="article-meta">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="author-name">{{.AuthorName}}</span>
                                <i class="fa fa-tag" aria-hidden="true"></i>
                                <span class="category">{{.Category}}</span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <time>{{.Created}}</time>
                            </div>
                            <div class="text">
                                <p>{{.Content}}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            {{template "footer"}}
        </div>
    </div>
    
    <script type="text/javascript" src="/javascript/article.js"></script>
</body>
</html>
{{end}}